/**/

@media all and (max-width: 768px) { 
	.small-hide {
		display: none !important;
	    -webkit-transition: all .5s ease;
	    -moz-transition: all .5s ease;
	    transition: all .5s ease;
	}
}

.fh {
	height: 100%;
	display: flex;
    flex-direction: column;
}

.flex-container-fh {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-content-fh {
	flex-direction: row;
}

.flex-fh {
    flex: 1;
}

.highlight {
	background-color: yellow;
}